@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
  .animate-spin-fast {
    animation: spin 1.5s linear infinite;
  }
  .animate-dash {
    animation: dash 2s ease-in-out infinite;
  }
}

@keyframes dash {
  from,
  to {
    stroke-dashoffset: -338;
  }
  50% {
    stroke-dashoffset: 0;
  }
}
